.admin_edit_container {
  border: none;
  float: left;
  padding: 15px;
  margin: auto;
  width: 100%;
}

.edit_form {
  border: none;
  text-align: right;
  border-right: 1px solid;

}

.edit_label_tag {
  border: none;
  float: left;
}

.edit_text_field_tag {
  border: none;
  text-align: right;
}

.vendor_names {
  border: none;
  padding-left: 5%;
}

.categories {
  border: none;
  padding-left: 5%;
  border-left: 1px solid;
}