* {
  margin: 0;
}

html, body {
  background-color: #dddcc5;
  font-family: "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;
  height: 100%;
}

.navbar {
// z-index: -1;
}

.alert-success {
  color: #000000;
  background-color: green;
}

.alert-danger {
  background-color: red;
}

.alert-notice {
  border: 1px solid red;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.shopping_cart {
  color: red;
  font-size: 25px;
  top: 24px;
  margin-left: 1%;

}

.cart_font {
  color: #ffffff;
  padding-top: 0;
  text-align: center;
  top: -30px;
}

.container {
  background-color: #ffffff;
  width: 85%;
  margin-top: -30px;
  margin-bottom: -30px;
  min-height: 100%;
    /* equal to footer height */
  margin-bottom: -30px;
  
  // padding-top: 50px;
}

.container:after {
  content: " ";
  display: block;
}

.col-lg-12 {
  max-width: 980px;
}

header {
  background-color: #101010;
  margin-top: 65px;
  height: 100px;
  padding: 0 0 0 0;
  z-index: -1; 
}

#logo {
  border: none;
  font-size: 3.5em;
  position: absolute;
  padding: 0 0 0 1.5%;
  margin-left: 80px;
}

.inner_e {
  color: #611427;
  border: 5px solid #611427;
  margin: 0 0 0 1%;
  text-align: center;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  font-size: 4em;
  position: absolute;
}

.luxury {
  font-family: 'Ruthie', cursive;
  font-size: 2em;
  color: #a0985e;
  // margin-left: 80%;
  // margin-top: 40px;
  display: inline-block;
}

.user_class {
  font-family: 'Ruthie', cursive;
  font-size: 2.2em;
  color: #a0985e;
  margin-left: 73%;
  margin-top: 7.8%;
  
}

.date {
  color: #9d9d9d;
  margin-left: 90%;
}

.price {
  font-weight: 900;
}

footer {
  position: absolute;
  z-index: -1;
  width: 100%;
  background-color: #1d2326;
  color: #958976;
  height: 160px;
  text-align: center;
}

footer p {
  font-style: oblique;
  margin-top: 4%;
}
// color: #611427;
